<footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/divyasaxena24/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/divysaxena24/" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:divysaxena2402@gmail.com" style="text-decoration: none;">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
        <div>&copy; <%= new Date().getFullYear() %> HeartRoofers Private Limited</div>
        <div class="f-info-links">
            <a href="/listings/privacy">Privacy Policy</a> &nbsp;|&nbsp;
            <a href="/listings/terms">Terms of Service</a>
        </div>
    </div>
</footer>
